# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
cf_multi_cups

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Internal rebuilding
*.sh

# Data files
*.json

cf-multi-cups-plugin*
